
.dropDownLang {
    position: absolute;
    color: black;
    top: 1.5rem;
    right: -20px;
    width: 80px;
    padding: 4px 0px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid gray;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    span {
        cursor: pointer;
    }

    span:hover {
        font-weight: 750;
    }

    ul {
        width: 100%;
        border: 1px solid yellow;
        list-style: none;
        
        
        li {
            color: blue;
        }
    }    
}

// .dropDownLang::before {
//     content: '';
//     position: absolute;
//     top: -0.9rem;
//     right: 1.1rem;
//     width: 20px;
//     height: 20px;
//     transform: rotate(45deg);
//     background-color: white;
//     border-left: 1px solid gray;
//     border: 1px solid green;

// }


