.page-header, .page-header-space  {
  height: 10px;
  // border: 1px solid red;
}

.page-footer, .page-footer-space {
  height: 50px;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  // border-top: 1px solid black; /* for demo */
  // background: yellow; /* for demo */
}

.page-header {
  position: fixed;
  top: 0mm;
  // background: yellow; /* for demo */
}

.page-body {
  width: 100%;
  // border-bottom: 1px solid black; 
}

.page {
  page-break-after: always;
  width: 100%;

  // .nameAdress {
  //   display: flex;
  //   flex-direction: column;
  //   // background: red; /* for demo */
  //   margin-bottom: 10px;
  // }
  .logo-and-adress {
    display: flex;
    flex-direction:  row;
    justify-content: space-between;
    // border: 1px solid yellow;
    .nameAdress{
        display: flex;
        flex-direction: column;
        // border: 1px solid red;
        
        span {
          font-size: 14px;
        } 
    }

    .logo-print {
        // border: 1px solid red;
        display: flex;
        align-items: center;

        img {
            width: 120px;
            height: 85px;
            // border: 1px solid green;
            // border-radius: %;
            // object-fit: cover;
            justify-self: center;
        }
    }
  }

  .employeeData {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    // background: green; /* for demo */

    .idRecibo{
        display: flex;
        justify-content: space-between;
        // background: green; /* for demo */

        .id{
            align-self: end;
            // margin-top: 25px;
            margin-right: 10px;

            span {
                margin-right: 5px;
            }
        }
        .recibo {
            display: flex;
            flex-direction: column;

            .title {
                text-align: center;
                font-size: 24px;
            }

            .mes{
                display: flex;
                flex-direction: row;

                span{
                    margin-right: 5px;
                }
            }
        }
    }

    .tableEmployeeData {
      font-size: 10px;
      table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
      }
      th {
        width: 200px; 
        background:	silver;
      }
      td {
        width: 200px; 
        text-align: center;
      }
    }
  }
  
  .employePayment {
    font-size: 10px;
    // border: 1px solid red;

    th{
      width: 200px;
    }td{
      width: 200px;
      text-align: center;
    }
  }

  .footer {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    // gap: 5px;
    // border: 1px solid green;

    .signature {
      font-size: 16px;
      display: flex;
      justify-content: space-between;
    }

    .date {
      font-size: 12px;
    }

    .comment {
      display: flex;
      justify-content: center;
      font-style: italic;
      font-size: 10px;
    }
  }
}

@page {
  margin: 20px
}
// @page {
//   margin: 20mm
// }

// @media print {
//    thead {display: table-header-group;} 
//    tfoot {display: table-footer-group;}
   
//    button {display: none;}
   
//    body {margin: 0;}
// }