

@media print {
    @page { size: portrait !important; }
    // @page {
    //     size: portrait !important;
    //   }
  }   

.containerPrintSlip {

    .print-down {
        border: 1px solid black;
   }
    .logo-and-adress {
        display: flex;
        flex-direction:  row;
        justify-content: space-between;
        // border: 1px solid yellow;
        .nameAdress{
            display: flex;
            flex-direction: column;
            // border: 1px solid red;
            
            span {
            font-size: 14px;
            } 
        }
    
        .logo-print {
            // border: 1px solid red;
            display: flex;
            align-items: center;
    
            img {
                width: 120px;
                height: 85px;
                // border: 1px solid green;
                // border-radius: %;
                // object-fit: cover;
                justify-self: center;
            }
        }
    }
    
    .employeeData {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        // background: green; /* for demo */
    
        .idRecibo{
            display: flex;
            justify-content: space-between;
            // background: green; /* for demo */
    
            .id{
                align-self: end;
                // margin-top: 25px;
                margin-right: 10px;
    
                span {
                    margin-right: 5px;
                }
            }
            .recibo {
                display: flex;
                flex-direction: column;
    
                .title {
                    text-align: center;
                    font-size: 20px;
                }
    
                .mes{
                    display: flex;
                    flex-direction: row;
    
                    span{
                        margin-right: 5px;
                    }
                }
            }
        }
    
        .tableEmployeeData {
        font-size: 16px;
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th {
            width: 200px; 
            background:	silver;
        }
        td {
            width: 200px; 
            text-align: center;
        }
        }
    }
    
    .employePayment {
        font-size: 14px;
        // border: 1px solid red;
    
        th{
        width: 200px;
        }td{
        width: 200px;
        text-align: center;
        }
    }
    
    .footer {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        // border: 1px solid green;
    
        .signature {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        }
    
        .date {
        font-size: 12px;
        }
    
        .comment {
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 12px;
        }
    }
    
    
    
    .employee-company-data {
        display: flex;
        justify-content: space-between;
        margin-bottom: 4px;
        // background-color: red;
        font-size: 18px;
    
        div {
        display: flex;
        flex-direction: column;
        }
    }
    
    .wrapper-div {
        display: flex;
        width: 80%;
        // border: 1px solid red;
        margin: 0 auto;
        font-size: 14px;
    
        .column-head {
        flex: 1;
        display: flex;
        flex-direction: column;
        // border: 1px solid pink;
        gap: 5px;
    
        }
        .column-img {
        flex: 1;
        display: flex;
        align-items: center;
        // border: 1px solid yellow;
    
        img {
            width: 200px;
            height: 150px;
        }
    
        }
        .column-data {
        flex: 1;
        display: flex;
        flex-direction: column;
        // border: 1px solid blue;
        align-items: center;
        gap: 5px;
    
    
        }
    }
    
    .footer-2 {
        margin-top: 4px;
        display: flex;
        flex-direction: column;
        // gap: 5px;
        // border: 1px solid green;
    
        .signature {
        font-size: 14px;
        display: flex;
        justify-content: space-between;
        }
    
        .date {
        font-size: 12px;
        }
    
        .comment {
        display: flex;
        justify-content: center;
        font-style: italic;
        font-size: 12px;
        }
    }
}







