div{
    
    .containerPrintSlip {
        display: flex;
        flex-direction: column;
        // background-color: GREEN;
        // height: 950px;
        padding: 10px;
        margin-bottom: 30px;

        .printSlip1 {
            font-size: 10px;
        //     height: 50%;
        //     background-color: red;
        }

        .printSlip2 {
            font-size: 10px;
        }

        .nameAdress{
            display: flex;
            flex-direction: column;
            
        }

        .employeeData {
            display: flex;
            flex-direction: column;

            .idRecibo{
                display: flex;
                justify-content: space-between;
                                
                .id{
                    align-self: end;
                    // margin-top: 25px;
                    margin-right: 10px;

                    span {
                        margin-right: 5px;
                    }
                }
                .recibo {
                    display: flex;
                    flex-direction: column;

                    .title {
                        text-align: center;
                        font-size: 24px;
                    }

                    .mes{
                        display: flex;
                        flex-direction: row;

                        span{
                            margin-right: 5px;
                        }
                    }
                }
            }

            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
              }

            .tableEmployeeData {
                th {
                    width: 150px; 
                    background:	silver;
                }
                td {
                    width: 200px; 
                    text-align: center;
                }
            }
        }

        .employePayment {
            
              th{
                width: 200px;
              }td{
                width: 200px;
                text-align: center;
              }

        }

        .footer{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 10px;
            
            .signature {
                display: flex;
                justify-content: space-between;
            }

            // div {
            //     .linha{
            //         width: 40px;
            //         border-bottom: 1px solid #000;
            //     }
            // }
        }
       
    }
}

@media print {
    @page { size: portrait !important;  }
  }

