div{
    .container {
        display: flex;
        flex-direction: column;
        // border: 1px solid red;

        padding: 20px;
    
        .nameAdress{
            display: flex;
            flex-direction: column;
        }
        

        .tableEmployeeData {
            display: flex;
            flex-direction: column;

           
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
              }
        }
        .tableEmployeeData {
            th {
                width: 200px; 
                background:	silver;
                text-align: center;
            }
            td {
                width: 200px; 
                // background:	red;
                text-align: center;
            }
        }
        

    

        .footer{
            display: flex;
            flex-direction: column;
            gap: 10px;
            margin-top: 20px;
        }
       
    }
}
